<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    
  <% if logged_in? %>
  
    <%= render 'layouts/user_home' %>
  
  <% else %>
  
    <%= render 'layouts/logged_out_home' %>
    
  <% end %>
    
  </body>
</html>
